$primary: #283149;
$secondary: #404b69;
$warning: #f73859;
$muted: #899bb4;
$border: #d5dfec;

$primary_darker: rgb(60, 73, 161);
$primary_darkest: rgb(31, 41, 107);

@media (min-width: 1200px) {
  .container{
    max-width: 1400px;
  }
}

$danger: rgb(232, 107, 127);
$background: #f6f5f8;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

.nav-item {
  display: flex;
}

$red0: rgb(221, 69, 135);
$orange0: rgb(255, 135, 66);

.gd-hot {
  background: linear-gradient(30deg, $red0, $orange0);
}

.gd-m {
  background: linear-gradient(321.73deg, #FFC750 0%, #FF6895 40.06%, #5666F6 80.89%, #5FC5A6 100%);
}

@mixin if_above($break_point) {
  @if map-has-key($breakpoints, $break_point) {
    $size: map-get($breakpoints, $break_point);
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn 'Breakpoint #{$break_point} doesn\'t exist.';
  }
}
